body {
  font-family: Public Sans, sans-serif;
  margin: 2em auto;
  max-width: 760px;
  width: 65%;
}

a {
  color: black;
}

.organization {
  font-weight: 800;
}

.position, .duration {
  font-weight: 300;
  font-size: smaller;
}

/*
.duration {
  font-size: smaller;
}
*/

.center {
  text-align: center;
}

.summary {
  text-align: left;
}

.button {
  background-color: white;
  border-radius: 12px;
  color: black;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1opx;
}

.button:hover {
  background-color: black;
  color: white;
}

