body, .footer {
  font-family: 'Roboto', sans-serif;
  margin: 2em auto;
  max-width: 760px;
  width: 65%;
}

a {
  color: black;
}

.contact-info {
  text-align: center;
}

.summary-info {
  text-align: center;
}

.button {
  background-color: white;
  border-radius: 12px;
  color: black;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1opx;
}

.button:hover {
  background-color: black;
  color: white;
}

