body {
  font-family: 'Public Sans', sans-serif;
  margin: 2em auto;
  max-width: 760px;
  width: 65%;
}

a, a:hover {
  color: black;
}

.organization {
  font-weight: 800;
}

.position, .duration {
  font-weight: 300;
  font-size: smaller;
}

.center {
  text-align: center;
}

.summary {
  text-align: left;
}

